/*======================================================================================================*/
/* ------------------------------------- Escopo Geral do Cabeçalho -------------------------------------*/
/*======================================================================================================*/

#cabecalho {
    width: 100%;
    height: auto;
    padding: var(--cabecalho__container--padding);
    background-color: var(--cabecalho-background);
}

#cabecalho a {
    height: auto;
    width: 6rem;
    display: inline-block;
}

/*======================================================================================================*/
/*-------------------------------- Responsividade - Área de Mídia Queries ------------------------------*/
/*======================================================================================================*/