@import url(cabecalho.css);

@font-face {
    font-style: normal;
    font-display: swap;
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

:root {
    /* Paleta de Cores Base*/
    --preto: #000000;
    --branco: #FFFFFF;
    --amarelo-ouro: #FFC33C;
    --roxo-meia-noite: #1A151F;
    --azul-acinzentado-muito-escuro: #232935;

    /* Paleta de Cores - Cabeçalho*/
    --cabecalho-background: var(--amarelo-ouro);

    /*Espaçamentos*/
    --container__padding--mobile: 0 .5rem;
    --container__padding--desktop: 0.1rem .6rem;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.logo {
    width: 100%;
    height: 100%;   
}

#cabecalho__nav--logo-AcDesktop {
    display: none;
}

.container--titulo {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    text-align: center;
} .container--titulo h2 {
    font-size: clamp(1.5rem, 1.2368rem + 1.3158vw, 2.5rem); /* Largura fluida de 24px a 40px para telas entre 320px e 1536px */
}

/*======================================================================================================*/
/*-------------------------------- Responsividade - Área de Mídia Queries ------------------------------*/
/*======================================================================================================*/

@media screen and (min-width: 768px) {
    #cabecalho__nav--logo-AcDesktop {
    display: block;
    }

    #cabecalho__nav--logo-AcMobile {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: clamp(1rem, 0.25rem + 0.8333vw, 1.25rem); /* Largura fluida de 16px a 20px para telas entre 1440px e 1920px */
    }
}

@media screen and (min-width: 1536px) {
    .container--titulo h2 {
        font-size: clamp(2.5rem, 1.5625rem + 0.9766vw, 3.125rem); /* Largura fluida de 40px a 50px para telas entre 1536px e 2560px */
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: clamp(1.25rem, 0.9342rem + 0.2632vw, 1.5rem); /* Largura fluida de 20px a 24px para telas entre 1920px e 3440px */
    }
}